body {
    background-color: black;
    margin: 0;
    position: relative;
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
}

.dice {
    text-align: center;
    display: inline-flex; /* Use standard flexbox syntax */
    margin: 20px;
}

/* Apply common styles to player paragraphs */
.player-name {
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.p1 {
    color: orangered;
}

.p2 {
    color: blue;
}

.butn, #b1, #b2 {
    background: yellowgreen;
    font-family: cursive;
    border-radius: 7px;
    color: orangered;
    font-size: 30px;
    padding: 5px 20px;
    text-decoration: none;
    cursor: pointer;
}

/* Common styles for total boxes */
.total-box {
    height: 50px;
    width: 100px;
    padding: 50px;
    margin: 50px auto;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 80px;
}

/* Apply specific styles to red total boxes */
#redBox1, #redBox2, #redTotal {
    float: left;
}

/* Apply specific styles to blue total boxes */
#blueBox1, #blueBox2, #blueTotal {
    float: right;
}
