body {
    background-image:url("images/p-3b.png");
    background-size: 1600px;

}

#landingPageContainer {
    width: 50%;
    margin-top: 20%;
    color: black;

}

a:hover {
    box-shadow: 0 0 2rem -0.7rem black;
    border: 1px solid black;
    text-decoration: none;

}

li {
    list-style-type: none;
    float: left;

}

li a {
    display: block;
    width: 80px;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;

}