body {
    background-image:url("images/p-3b.png");
    background-size: 1600px;

}

#landingPageContainer {
    width: 50%;
    margin-top: 20%;
    color: black;
}

a:hover {
    color: black;
    box-shadow: 0 0 2rem -0.7rem black;
    border: 3px solid black;
}


footer a {
    color: black;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
}